* {
    box-sizing: border-box;
}
html{
    height: 100%;
}

body {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url('../images/background.png');
    margin: 0px;
    height: 100%;
    min-height: 100%;
}

.container{
    display: grid;
    grid-template-rows: 67px, 1fr, 20px;
    grid-gap: 40px;
    justify-items: center;
    min-height: 100%;
    height: 100%;
}


header {
    background-color: #fff;
    border-bottom: #cccccc 1px solid;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
    max-height: 65px;
    height: 65px;
    display: grid;
    grid-template-columns: 1fr 300px 660px 1fr;
    justify-items: center;
    align-items: start;
    
}

.logo {
    background-color: #4aaaa5;
    padding: 20px;
    margin: 0px;
    height: 65px;
    color: #fff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 1.5em;
    width: fit-content;
    font-weight: bold;
    grid-column: 2;
    justify-self: start;

}

.menu {
    margin-top: 20px;
    justify-self: end;
    grid-column: 3;

}

section {
    width: 960px;
    margin: 0 auto;
    background-color: #fff;
    border: #dddddd 1px solid;
    padding: 30px;
}

footer{
    background-color: #666666;
    color: #ccc;
    border-top: #4aaaa5 8px solid;
    font-size: 8pt;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    grid-row-start: 3;
    grid-row-end: 4;    
    align-self: end;
}


ul {
    list-style-type: none;
}

li{
    display: inline;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;    
    padding: 0 10px 0 10px;
    border-right: #ccc 1px solid;
}

li.last {
    border-right: 0;
    padding-right: 0;
}

a {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
}
a:hover{
    color: #4aaaa5;
}

header a{
    position: relative;
    padding-bottom: 2px;
    margin-bottom: 2px;
}

header a:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    max-width: 100px;
    background-color: #4aaaa5;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-out;
}

header a:hover:before{
    visibility: visible;
    transform: scaleX(1);
    left: 0;
}


h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #cccccc;
    margin-top: 0px;
    width: 100%;
}


.img-profile {
    float: left;
    margin-right: 20px;
    margin-bottom: 4px;
    margin-top: 5px;
    width: 300px;
    border-radius: 10px;
}

p {
    line-height: 1.5em;
    margin-top: 10px;
}

input{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border:1px solid #ccc;
}
textarea{
    width: 100%;
    border-color: #ccc;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
}
label {
    display: block;
    margin-bottom: 5px;

}
button{
    padding: 8px 20px 8px 20px;
    background-color: #4aaaa5;
    border-radius: 5px;
    color: #fff;
}

.wrap-portfolio{
    display: grid;
    grid-template-columns: 275px 275px;
    grid-gap: 30px;
    justify-items: center;
    margin-top: 20px;
}

.img-portfolio {
    width: 275px;

}

figure {
    position: relative;
    top: 0;
    border: 2px solid #4aaaa5;
    border-radius: 5px;
}
figcaption {
    background-color: #4aaaa5;
    padding: 10px;
    color: #fff;
    position: absolute;
    bottom: 0px;
    width: 275px;
    text-align: center;
}



@media screen and (max-width: 980px){
    section{
        max-width: 640px;
        justify-self: start;
        margin-left: 40px;
    }

    header{
        grid-template-columns: 40px 300px 1fr 40px;

    }
}

@media screen and (max-width: 768px){
    section{
        min-width: fit-content;
        width: auto;
        justify-self: start;
        margin-left: 10px;
        margin-right: 10px;
    }
    .form{
        min-width: 97%;
    }
    .portfolio{
        width: 97%;
        min-width: 97%;
    }
    .wrap-portfolio{
        grid-gap: 20px;
        justify-items: center;
    }
    header{
        grid-template-columns: 10px 300px 1fr 10px;

    }

}

@media screen and (max-width: 640px){
    section{
        min-width: auto;
        max-width: auto;
        justify-self: start;
        margin-left: 10px;
        margin-right: 10px;
    }
    .form{
        min-width: 97%;
    }
    .portfolio{
        min-width: 97%;
    }
    .wrap-portfolio{
        grid-template-columns: 275px;
        grid-gap: 10px;
        justify-items: center;
        margin-bottom: 0;
        justify-content: space-around;
        
    }
    header{
        height: 119px;
        max-height: 119px;
    }    
    .logo{
        width: 100%;
        grid-column: span 4;
        justify-self: center;
        text-align: center;
    }
    .menu{
        grid-column: span 4;
        justify-self: center;
        text-align: center;
        padding: 0;
        margin-top: 0;
    }
    
}
